.wrapper{
    width: 70vw;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.8)

}

body{
    background-color: aqua;
}





table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}


td,
th {
    border:1px solid black ;
    text-align: left;
    padding: 8px;
    background-color: orangered;

}